<!-- https://formly.dev/guide/getting-started -->
<!-- <form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <button type="submit" class="btn btn-primary submit-button">Submit</button>
</form> -->

<xng-breadcrumb></xng-breadcrumb>
asdfasdf
<nav>
  <a routerLink="/one" routerLinkActive="active">Route Number ONE</a>
  <a routerLink="/two" routerLinkActive="active">Route Number TWO</a>
</nav>
<router-outlet></router-outlet>